// Color variables
$primary-color: #5863f8;
$white-color: #ffffff;
$black-color: #000000;
$transparent-grey: #21212180;
$light-grey: #f7f5fa;
$bold-font: 700;
$semi-bold-font: 600;
$extra-bold-font: 800;

// Project wide base styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: unset;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Nunito', 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: $primary-color;
    font-size: 1.6rem;
    cursor: pointer;
}

a.btn {
    background: $white-color;
    padding: 1.5rem 2rem;
    min-width: 15rem;
    height: 4.5rem;
    border-radius: .5rem;
}

a.btn:not(:last-child) {
    margin-right: 3rem;
}

li {
    text-decoration: none;
}
