.ah-btn , a.ah-btn {
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Nunito", sans-serif;

  img {
   width: 15px;
   height: 15px;
   margin-right: 10px;
  }

  &[disabled] {
   opacity: 0.5;
   cursor: not-allowed;
  }
 }
 .ah-btn:hover {
  opacity: 0.9;;
 }

a.ah-btn {
  display: inline-block;
}
