@import "../base.scss";

.reset_body{
  padding: 0;
  text-align: center;
  margin: 10% 0;

  &_content {
    display: inline-block;
    padding: 20px 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  }

  &_reset_header {
    margin: 30px 0;
    font-size: 2rem;
    font-weight: $bold-font;
  }

  &_reset_input, &_btn_save {
    width: 30rem;
    margin-top: 20px;
  }

  &_response_text {
    margin-top: 15px;
    font-size: 15px;
    text-transform: capitalize;
  }

  &_btn_save {
    background: $primary-color;
    color: $white-color;
    margin: 30px 0;
    outline: none;
  }
}

@media screen and (max-width: 500px){
  .reset_body{
    margin: 10% 0;

    &_content {
      padding: 22px;
    }
  }
}